.elementor-bc-flex-widget .elementor-6 .elementor-element.elementor-element-12bf89a.elementor-column .elementor-column-wrap {
  align-items: center
}

.elementor-6 .elementor-element.elementor-element-12bf89a.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
  align-content: center;
  align-items: center
}

.elementor-6 .elementor-element.elementor-element-12bf89a>.elementor-element-populated {
  padding: 65px 100px 65px 25px
}

.elementor-6 .elementor-element.elementor-element-0bc6abd {
  text-align: left
}

.elementor-6 .elementor-element.elementor-element-0bc6abd .elementor-heading-title {
  color: #ad29ff;
  font-size: 20px
}

.elementor-6 .elementor-element.elementor-element-9c1474f {
  color: #4d4d4d
}

.elementor-6 .elementor-element.elementor-element-672ca55:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap, .elementor-6 .elementor-element.elementor-element-672ca55>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  /* background-image: url("../../../uploads/2020/05/George-cleaning-Aga-60-20200527.jpg"); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover
}

.elementor-6 .elementor-element.elementor-element-672ca55>.elementor-element-populated {
  transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-6 .elementor-element.elementor-element-672ca55>.elementor-element-populated>.elementor-background-overlay {
  transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-6 .elementor-element.elementor-element-a545bc7 .elementor-spacer-inner {
  height: 435px
}

.elementor-6 .elementor-element.elementor-element-da48012>.elementor-container {
  min-height: 75vh
}

.elementor-6 .elementor-element.elementor-element-da48012>.elementor-container:after {
  content: "";
  min-height: inherit
}

.elementor-6 .elementor-element.elementor-element-03970ad>.elementor-element-populated {
  padding: 25px
}

.elementor-6 .elementor-element.elementor-element-417d171 {
  text-align: left
}

.elementor-6 .elementor-element.elementor-element-417d171 .elementor-heading-title {
  color: #ad29ff;
  font-size: 20px
}

.elementor-6 .elementor-element.elementor-element-2bc456e>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 5px
}

.elementor-6 .elementor-element.elementor-element-2bc456e>.elementor-element-populated {
  padding: 25px
}

.elementor-6 .elementor-element.elementor-element-b7528fa .elementor-spacer-inner {
  height: 146px
}

.elementor-6 .elementor-element.elementor-element-b7528fa>.elementor-widget-container {
  margin: 0 0 20px;
  padding: 0;
  background-image: url("../../../uploads/2020/05/IMG_1934-scaled.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover
}

.elementor-6 .elementor-element.elementor-element-a0f22b8 {
  text-align: left
}

.elementor-6 .elementor-element.elementor-element-a0f22b8 .elementor-heading-title {
  color: #333;
  font-size: 16px
}

.elementor-6 .elementor-element.elementor-element-bf8c52e {
  font-size: 15px
}

.elementor-6 .elementor-element.elementor-element-37a21da>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 5px
}

.elementor-6 .elementor-element.elementor-element-37a21da>.elementor-element-populated {
  padding: 25px
}

.elementor-6 .elementor-element.elementor-element-a220b77 .elementor-spacer-inner {
  height: 146px
}

.elementor-6 .elementor-element.elementor-element-a220b77>.elementor-widget-container {
  margin: 0 0 20px;
  padding: 0;
  background-image: url("../../../uploads/2020/05/IMG_1129-scaled.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover
}

.elementor-6 .elementor-element.elementor-element-0b0fb91 {
  text-align: left
}

.elementor-6 .elementor-element.elementor-element-0b0fb91 .elementor-heading-title {
  color: #333;
  font-size: 16px
}

.elementor-6 .elementor-element.elementor-element-3ae5c90 {
  font-size: 15px
}

.elementor-6 .elementor-element.elementor-element-4b966cd>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 5px
}

.elementor-6 .elementor-element.elementor-element-4b966cd>.elementor-element-populated {
  padding: 25px
}

.elementor-6 .elementor-element.elementor-element-5403754 .elementor-spacer-inner {
  height: 146px
}

.elementor-6 .elementor-element.elementor-element-5403754>.elementor-widget-container {
  margin: 0 0 20px;
  padding: 0;
  background-image: url("../../../uploads/2020/05/IMG_2146-rotated.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover
}

.elementor-6 .elementor-element.elementor-element-6bf996e {
  text-align: left
}

.elementor-6 .elementor-element.elementor-element-6bf996e .elementor-heading-title {
  color: #333;
  font-size: 16px;
  line-height: 1.1em
}

.elementor-6 .elementor-element.elementor-element-1628d45 {
  font-size: 15px
}

.elementor-6 .elementor-element.elementor-element-e688fee:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap, .elementor-6 .elementor-element.elementor-element-e688fee>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {

  background-repeat: no-repeat;
  background-size: cover
}

.elementor-6 .elementor-element.elementor-element-e688fee>.elementor-element-populated {
  transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-6 .elementor-element.elementor-element-e688fee>.elementor-element-populated>.elementor-background-overlay {
  transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-6 .elementor-element.elementor-element-0d60e9e .elementor-spacer-inner {
  height: 435px
}

.elementor-bc-flex-widget .elementor-6 .elementor-element.elementor-element-7cdc79c.elementor-column .elementor-column-wrap {
  align-items: center
}

.elementor-6 .elementor-element.elementor-element-7cdc79c.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
  align-content: center;
  align-items: center
}

.elementor-6 .elementor-element.elementor-element-7cdc79c.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
  justify-content: flex-start
}

.elementor-6 .elementor-element.elementor-element-7cdc79c:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap, .elementor-6 .elementor-element.elementor-element-7cdc79c>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-color: #ececec
}

.elementor-6 .elementor-element.elementor-element-7cdc79c>.elementor-element-populated {
  transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
  padding: 80px 25px
}

.elementor-6 .elementor-element.elementor-element-7cdc79c>.elementor-element-populated>.elementor-background-overlay {
  transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-6 .elementor-element.elementor-element-4a2e3f2>.elementor-container {
  max-width: 400px
}

.elementor-6 .elementor-element.elementor-element-e325e3b {
  text-align: left
}

.elementor-6 .elementor-element.elementor-element-e325e3b .elementor-heading-title {
  color: #ad29ff;
  font-size: 22px
}

.elementor-6 .elementor-element.elementor-element-b90d5b7 .elementor-text-editor {
  text-align: left
}

.elementor-6 .elementor-element.elementor-element-b90d5b7 {
  color: #000;
  font-size: 16px;
  line-height: 1.7em
}

.elementor-6 .elementor-element.elementor-element-fc48fa0 {
  text-align: left
}

.elementor-6 .elementor-element.elementor-element-fc48fa0 .elementor-heading-title {
  color: #ad29ff;
  font-size: 22px
}

.elementor-6 .elementor-element.elementor-element-c765419 .elementor-text-editor {
  text-align: left
}

.elementor-6 .elementor-element.elementor-element-c765419 {
  color: #000;
  font-size: 16px;
  line-height: 1.7em
}

.elementor-6 .elementor-element.elementor-element-3d0761a>.elementor-container {
  max-width: 1050px
}

.elementor-6 .elementor-element.elementor-element-3d0761a {
  margin-top: 50px;
  margin-bottom: 50px
}

.elementor-6 .elementor-element.elementor-element-0f51b57 {
  text-align: center
}

.elementor-6 .elementor-element.elementor-element-0f51b57 .elementor-heading-title {
  color: #2a0073;
  font-size: 22px;
  font-weight: 500
}

.elementor-6 .elementor-element.elementor-element-0f51b57>.elementor-widget-container {
  padding: 25px
}

.elementor-6 .elementor-element.elementor-element-6230fee:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap, .elementor-6 .elementor-element.elementor-element-6230fee>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-image: url("../../../uploads/2020/05/george_1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover
}

.elementor-6 .elementor-element.elementor-element-6230fee>.elementor-element-populated {
  transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-6 .elementor-element.elementor-element-6230fee>.elementor-element-populated>.elementor-background-overlay {
  transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-6 .elementor-element.elementor-element-a7d69e0 .elementor-spacer-inner {
  height: 150px
}

.elementor-bc-flex-widget .elementor-6 .elementor-element.elementor-element-5294c8d.elementor-column .elementor-column-wrap {
  align-items: flex-start
}

.elementor-6 .elementor-element.elementor-element-5294c8d.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
  align-content: flex-start;
  align-items: flex-start
}

.elementor-6 .elementor-element.elementor-element-5294c8d>.elementor-element-populated {
  padding: 20px
}

.elementor-6 .elementor-element.elementor-element-f0027d4 {
  color: #2a0073
}

.elementor-6 .elementor-element.elementor-element-0023ef5 {
  color: #000;
  font-size: 14px
}

.elementor-6 .elementor-element.elementor-element-5c12adb:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap, .elementor-6 .elementor-element.elementor-element-5c12adb>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-image: url("../../../uploads/2020/05/linda.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover
}

.elementor-6 .elementor-element.elementor-element-5c12adb>.elementor-element-populated {
  transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-6 .elementor-element.elementor-element-5c12adb>.elementor-element-populated>.elementor-background-overlay {
  transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-6 .elementor-element.elementor-element-ed41b1e .elementor-spacer-inner {
  height: 150px
}

.elementor-bc-flex-widget .elementor-6 .elementor-element.elementor-element-9931959.elementor-column .elementor-column-wrap {
  align-items: flex-start
}

.elementor-6 .elementor-element.elementor-element-9931959.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
  align-content: flex-start;
  align-items: flex-start
}

.elementor-6 .elementor-element.elementor-element-9931959>.elementor-element-populated {
  padding: 20px
}

.elementor-6 .elementor-element.elementor-element-a58d3e9 {
  color: #2a0073
}

.elementor-6 .elementor-element.elementor-element-237c4e7 {
  color: #000;
  font-size: 14px
}

.elementor-bc-flex-widget .elementor-6 .elementor-element.elementor-element-544df4b.elementor-column .elementor-column-wrap {
  align-items: flex-start
}

.elementor-6 .elementor-element.elementor-element-544df4b.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
  align-content: flex-start;
  align-items: flex-start
}

.elementor-6 .elementor-element.elementor-element-544df4b>.elementor-element-populated {
  padding: 20px
}

.elementor-6 .elementor-element.elementor-element-b14790d {
  color: #2a0073
}

.elementor-6 .elementor-element.elementor-element-ace26e9 {
  color: #000;
  font-size: 14px
}

.elementor-6 .elementor-element.elementor-element-8085c27:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap, .elementor-6 .elementor-element.elementor-element-8085c27>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-image: url("../../../uploads/2020/05/george.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover
}

.elementor-6 .elementor-element.elementor-element-8085c27>.elementor-element-populated {
  transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-6 .elementor-element.elementor-element-8085c27>.elementor-element-populated>.elementor-background-overlay {
  transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-6 .elementor-element.elementor-element-8a895b3 .elementor-spacer-inner {
  height: 150px
}

.elementor-bc-flex-widget .elementor-6 .elementor-element.elementor-element-354354e.elementor-column .elementor-column-wrap {
  align-items: flex-start
}

.elementor-6 .elementor-element.elementor-element-354354e.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
  align-content: flex-start;
  align-items: flex-start
}

.elementor-6 .elementor-element.elementor-element-354354e>.elementor-element-populated {
  padding: 20px
}

.elementor-6 .elementor-element.elementor-element-9d2ebdb {
  color: #2a0073
}

.elementor-6 .elementor-element.elementor-element-0255bf5 {
  color: #000;
  font-size: 14px
}

.elementor-6 .elementor-element.elementor-element-35ef385:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap, .elementor-6 .elementor-element.elementor-element-35ef385>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-image: url("../../../uploads/2020/05/jin.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover
}

.elementor-6 .elementor-element.elementor-element-35ef385>.elementor-element-populated {
  transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-6 .elementor-element.elementor-element-35ef385>.elementor-element-populated>.elementor-background-overlay {
  transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-6 .elementor-element.elementor-element-706a5fd .elementor-spacer-inner {
  height: 150px
}

.elementor-6 .elementor-element.elementor-element-c829ea0:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap, .elementor-6 .elementor-element.elementor-element-c829ea0>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-image: url("../../../uploads/2020/05/gavin.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover
}

.elementor-6 .elementor-element.elementor-element-c829ea0>.elementor-element-populated {
  transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-6 .elementor-element.elementor-element-c829ea0>.elementor-element-populated>.elementor-background-overlay {
  transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-6 .elementor-element.elementor-element-40996bc .elementor-spacer-inner {
  height: 150px
}

.elementor-bc-flex-widget .elementor-6 .elementor-element.elementor-element-19d1052.elementor-column .elementor-column-wrap {
  align-items: flex-start
}

.elementor-6 .elementor-element.elementor-element-19d1052.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
  align-content: flex-start;
  align-items: flex-start
}

.elementor-6 .elementor-element.elementor-element-19d1052>.elementor-element-populated {
  padding: 20px
}

.elementor-6 .elementor-element.elementor-element-58160a0 {
  color: #2a0073
}

.elementor-6 .elementor-element.elementor-element-c13b530 {
  color: #000;
  font-size: 14px
}

.elementor-6 .elementor-element.elementor-element-8394a23:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap, .elementor-6 .elementor-element.elementor-element-8394a23>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-image: url("../../../uploads/2020/05/vinnie.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover
}

.elementor-6 .elementor-element.elementor-element-8394a23>.elementor-element-populated {
  transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-6 .elementor-element.elementor-element-8394a23>.elementor-element-populated>.elementor-background-overlay {
  transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-6 .elementor-element.elementor-element-929b1fa .elementor-spacer-inner {
  height: 150px
}

.elementor-bc-flex-widget .elementor-6 .elementor-element.elementor-element-8561e32.elementor-column .elementor-column-wrap {
  align-items: flex-start
}

.elementor-6 .elementor-element.elementor-element-8561e32.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
  align-content: flex-start;
  align-items: flex-start
}

.elementor-6 .elementor-element.elementor-element-8561e32>.elementor-element-populated {
  padding: 20px
}

.elementor-6 .elementor-element.elementor-element-94ddc69 {
  color: #2a0073
}

.elementor-6 .elementor-element.elementor-element-f9bb14e {
  color: #000;
  font-size: 14px
}

@media(max-width:1024px) {
  .elementor-6 .elementor-element.elementor-element-6230fee:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap, .elementor-6 .elementor-element.elementor-element-6230fee>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-position: top center
  }

  .elementor-6 .elementor-element.elementor-element-6230fee>.elementor-element-populated {
    margin: 5px
  }

  .elementor-6 .elementor-element.elementor-element-a7d69e0 .elementor-spacer-inner {
    height: 160px
  }

  .elementor-6 .elementor-element.elementor-element-5294c8d>.elementor-element-populated {
    margin: 0
  }

  .elementor-6 .elementor-element.elementor-element-5c12adb>.elementor-element-populated {
    margin: 5px
  }

  .elementor-6 .elementor-element.elementor-element-ed41b1e .elementor-spacer-inner {
    height: 160px
  }

  .elementor-6 .elementor-element.elementor-element-8085c27:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap, .elementor-6 .elementor-element.elementor-element-8085c27>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-position: top center
  }

  .elementor-6 .elementor-element.elementor-element-8085c27>.elementor-element-populated {
    margin: 5px
  }

  .elementor-6 .elementor-element.elementor-element-8a895b3 .elementor-spacer-inner {
    height: 160px
  }

  .elementor-6 .elementor-element.elementor-element-35ef385:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap, .elementor-6 .elementor-element.elementor-element-35ef385>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-position: top center
  }

  .elementor-6 .elementor-element.elementor-element-35ef385>.elementor-element-populated {
    margin: 5px
  }

  .elementor-6 .elementor-element.elementor-element-706a5fd .elementor-spacer-inner {
    height: 160px
  }

  .elementor-6 .elementor-element.elementor-element-c829ea0:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap, .elementor-6 .elementor-element.elementor-element-c829ea0>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-position: top center
  }

  .elementor-6 .elementor-element.elementor-element-c829ea0>.elementor-element-populated {
    margin: 5px
  }

  .elementor-6 .elementor-element.elementor-element-40996bc .elementor-spacer-inner {
    height: 160px
  }

  .elementor-6 .elementor-element.elementor-element-8394a23:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap, .elementor-6 .elementor-element.elementor-element-8394a23>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-position: top center
  }

  .elementor-6 .elementor-element.elementor-element-8394a23>.elementor-element-populated {
    margin: 5px
  }

  .elementor-6 .elementor-element.elementor-element-929b1fa .elementor-spacer-inner {
    height: 160px
  }
}

@media(max-width:767px) {
  .elementor-6 .elementor-element.elementor-element-12bf89a>.elementor-element-populated {
    padding: 25px
  }

  .elementor-6 .elementor-element.elementor-element-a545bc7 .elementor-spacer-inner {
    height: 230px
  }

  .elementor-6 .elementor-element.elementor-element-0d60e9e .elementor-spacer-inner {
    height: 230px
  }

  .elementor-6 .elementor-element.elementor-element-7cdc79c>.elementor-element-populated {
    padding: 15px
  }

  .elementor-6 .elementor-element.elementor-element-a7d69e0 .elementor-spacer-inner {
    height: 254px
  }

  .elementor-6 .elementor-element.elementor-element-ed41b1e .elementor-spacer-inner {
    height: 254px
  }

  .elementor-6 .elementor-element.elementor-element-8a895b3 .elementor-spacer-inner {
    height: 254px
  }

  .elementor-6 .elementor-element.elementor-element-706a5fd .elementor-spacer-inner {
    height: 254px
  }

  .elementor-6 .elementor-element.elementor-element-40996bc .elementor-spacer-inner {
    height: 254px
  }

  .elementor-6 .elementor-element.elementor-element-929b1fa .elementor-spacer-inner {
    height: 254px
  }
}

@media(min-width:768px) {
  .elementor-6 .elementor-element.elementor-element-6230fee {
    width: 20%
  }

  .elementor-6 .elementor-element.elementor-element-5294c8d {
    width: 30%
  }

  .elementor-6 .elementor-element.elementor-element-5c12adb {
    width: 20%
  }

  .elementor-6 .elementor-element.elementor-element-9931959 {
    width: 30%
  }

  .elementor-6 .elementor-element.elementor-element-544df4b {
    width: 30%
  }

  .elementor-6 .elementor-element.elementor-element-8085c27 {
    width: 20%
  }

  .elementor-6 .elementor-element.elementor-element-354354e {
    width: 30%
  }

  .elementor-6 .elementor-element.elementor-element-35ef385 {
    width: 20%
  }

  .elementor-6 .elementor-element.elementor-element-c829ea0 {
    width: 20%
  }

  .elementor-6 .elementor-element.elementor-element-19d1052 {
    width: 30%
  }

  .elementor-6 .elementor-element.elementor-element-8394a23 {
    width: 20%
  }

  .elementor-6 .elementor-element.elementor-element-8561e32 {
    width: 30%
  }
}

@media(max-width:1024px) and (min-width:768px) {
  .elementor-6 .elementor-element.elementor-element-e688fee {
    width: 100%
  }

  .elementor-6 .elementor-element.elementor-element-7cdc79c {
    width: 100%
  }

  .elementor-6 .elementor-element.elementor-element-6230fee {
    width: 25%
  }

  .elementor-6 .elementor-element.elementor-element-5294c8d {
    width: 75%
  }

  .elementor-6 .elementor-element.elementor-element-5c12adb {
    width: 25%
  }

  .elementor-6 .elementor-element.elementor-element-9931959 {
    width: 75%
  }

  .elementor-6 .elementor-element.elementor-element-544df4b {
    width: 75%
  }

  .elementor-6 .elementor-element.elementor-element-8085c27 {
    width: 25%
  }

  .elementor-6 .elementor-element.elementor-element-354354e {
    width: 75%
  }

  .elementor-6 .elementor-element.elementor-element-35ef385 {
    width: 25%
  }

  .elementor-6 .elementor-element.elementor-element-c829ea0 {
    width: 25%
  }

  .elementor-6 .elementor-element.elementor-element-19d1052 {
    width: 75%
  }

  .elementor-6 .elementor-element.elementor-element-8394a23 {
    width: 25%
  }

  .elementor-6 .elementor-element.elementor-element-8561e32 {
    width: 75%
  }
}

@media(min-width:1025px) {
  .elementor-6 .elementor-element.elementor-element-672ca55:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap, .elementor-6 .elementor-element.elementor-element-672ca55>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-attachment: scroll
  }

  .elementor-6 .elementor-element.elementor-element-b7528fa>.elementor-widget-container {
    background-attachment: scroll
  }

  .elementor-6 .elementor-element.elementor-element-a220b77>.elementor-widget-container {
    background-attachment: scroll
  }

  .elementor-6 .elementor-element.elementor-element-5403754>.elementor-widget-container {
    background-attachment: scroll
  }

  .elementor-6 .elementor-element.elementor-element-e688fee:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap, .elementor-6 .elementor-element.elementor-element-e688fee>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-attachment: scroll
  }

  .elementor-6 .elementor-element.elementor-element-6230fee:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap, .elementor-6 .elementor-element.elementor-element-6230fee>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-attachment: scroll
  }

  .elementor-6 .elementor-element.elementor-element-5c12adb:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap, .elementor-6 .elementor-element.elementor-element-5c12adb>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-attachment: scroll
  }

  .elementor-6 .elementor-element.elementor-element-8085c27:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap, .elementor-6 .elementor-element.elementor-element-8085c27>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-attachment: scroll
  }

  .elementor-6 .elementor-element.elementor-element-35ef385:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap, .elementor-6 .elementor-element.elementor-element-35ef385>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-attachment: scroll
  }

  .elementor-6 .elementor-element.elementor-element-c829ea0:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap, .elementor-6 .elementor-element.elementor-element-c829ea0>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-attachment: scroll
  }

  .elementor-6 .elementor-element.elementor-element-8394a23:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap, .elementor-6 .elementor-element.elementor-element-8394a23>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-attachment: scroll
  }
}
