.elementor-2 .elementor-element.elementor-element-6f23ba9>.elementor-container {
  min-height: 60vh
}

.elementor-2 .elementor-element.elementor-element-6f23ba9>.elementor-container:after {
  content: "";
  min-height: inherit
}

.elementor-2 .elementor-element.elementor-element-6f23ba9 {
  transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0
}

.elementor-2 .elementor-element.elementor-element-6f23ba9>.elementor-background-overlay {
  transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-2 .elementor-element.elementor-element-bfbb7ad>.elementor-element-populated {
  margin: 0;
  padding: 0
}

.elementor-2 .elementor-element.elementor-element-9335a06 .ae-post-list-wrapper {
  margin-bottom: 0
}

.elementor-2 .elementor-element.elementor-element-9335a06 .ae-swiper-button-prev i {
  color: #fff;
  font-size: 32px
}

.elementor-2 .elementor-element.elementor-element-9335a06 .ae-swiper-button-next i {
  color: #fff;
  font-size: 32px
}

.elementor-2 .elementor-element.elementor-element-9335a06 .ae-swiper-button-prev svg {
  fill: #fff;
  width: 32px
}

.elementor-2 .elementor-element.elementor-element-9335a06 .ae-swiper-button-next svg {
  fill: #fff;
  width: 32px
}

.elementor-2 .elementor-element.elementor-element-9335a06 .swiper-pagination-bullet {
  width: 9px;
  height: 9px;
  background-color: rgba(0, 0, 0, .58)
}

.elementor-2 .elementor-element.elementor-element-9335a06 .swiper-pagination-bullet-active {
  background-color: #5E216D !important
}

.elementor-2 .elementor-element.elementor-element-9335a06>.elementor-widget-container {
  margin: 0;
  padding: 0
}

.elementor-2 .elementor-element.elementor-element-2297fdd>.elementor-container {
  min-height: 580px
}

.elementor-2 .elementor-element.elementor-element-2297fdd>.elementor-container:after {
  content: "";
  min-height: inherit
}

.elementor-2 .elementor-element.elementor-element-2297fdd:not(.elementor-motion-effects-element-type-background), .elementor-2 .elementor-element.elementor-element-2297fdd>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover
}



.elementor-2 .elementor-element.elementor-element-2297fdd {
  transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-bc-flex-widget .elementor-2 .elementor-element.elementor-element-6016e73.elementor-column .elementor-column-wrap {
  align-items: center
}

.elementor-2 .elementor-element.elementor-element-6016e73.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
  align-content: center;
  align-items: center
}

.elementor-2 .elementor-element.elementor-element-6016e73>.elementor-element-populated {
  margin: 50px 0
}

.elementor-2 .elementor-element.elementor-element-1560831 {
  text-align: left
}

.elementor-2 .elementor-element.elementor-element-1560831 .elementor-heading-title {
  color: #fbd009;
  font-size: 22px;
  font-weight: 400
}

.elementor-2 .elementor-element.elementor-element-1560831>.elementor-widget-container {
  padding: 25px
}

.elementor-2 .elementor-element.elementor-element-8c11e2b {
  color: #000
}

.elementor-2 .elementor-element.elementor-element-8c11e2b>.elementor-widget-container {
  padding: 25px
}

.elementor-2 .elementor-element.elementor-element-be95715 .elementor-button {
  font-family: "Montserrat", Sans-serif;
  font-size: 16px;
  font-weight: 300;
  fill: #fff;
  color: #fff;
  background-color: #5E216D;
  border-radius: 4px
}

.elementor-2 .elementor-element.elementor-element-be95715 .elementor-button:hover, .elementor-2 .elementor-element.elementor-element-be95715 .elementor-button:focus {
  color: #fff
}

.elementor-2 .elementor-element.elementor-element-be95715 .elementor-button:hover svg, .elementor-2 .elementor-element.elementor-element-be95715 .elementor-button:focus svg {
  fill: #fff
}

.elementor-2 .elementor-element.elementor-element-be95715>.elementor-widget-container {
  padding: 0 25px
}

.elementor-2 .elementor-element.elementor-element-66f7ae3>.elementor-container {
  min-height: 580px
}

.elementor-2 .elementor-element.elementor-element-66f7ae3>.elementor-container:after {
  content: "";
  min-height: inherit
}

.elementor-bc-flex-widget .elementor-2 .elementor-element.elementor-element-2a4cce9.elementor-column .elementor-column-wrap {
  align-items: center
}

.elementor-2 .elementor-element.elementor-element-2a4cce9.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
  align-content: center;
  align-items: center
}

.elementor-2 .elementor-element.elementor-element-5df2fa2 {
  text-align: left
}

.elementor-2 .elementor-element.elementor-element-5df2fa2 .elementor-heading-title {
  color: #fbd009;
  font-size: 22px;
  font-weight: 400
}

.elementor-2 .elementor-element.elementor-element-5df2fa2>.elementor-widget-container {
  padding: 25px
}

.elementor-2 .elementor-element.elementor-element-c09f4f6 .ae-post-list-item {
  width: calc(100%/3)
}

.elementor-2 .elementor-element.elementor-element-c09f4f6.ae-post-layout-grid article.ae-post-list-item {
  padding-left: 10px;
  padding-right: 10px
}

.elementor-2 .elementor-element.elementor-element-c09f4f6.ae-post-layout-grid .ae-pagination-wrapper {
  padding-right: 10px
}

.elementor-2 .elementor-element.elementor-element-c09f4f6.ae-post-layout-checker-board article.ae-post-list-item {
  padding-left: 10px;
  padding-right: 10px
}

.elementor-2 .elementor-element.elementor-element-c09f4f6.ae-post-layout-checker-board .ae-pagination-wrapper {
  padding-right: 10px
}

.elementor-2 .elementor-element.elementor-element-c09f4f6 .ae-pagination-wrapper {
  padding-left: 10px
}

.elementor-2 .elementor-element.elementor-element-c09f4f6 .aep-filter-bar {
  padding-left: 10px;
  padding-right: 10px
}

.elementor-2 .elementor-element.elementor-element-c09f4f6 article.ae-post-list-item {
  margin-bottom: 20px
}

.elementor-2 .elementor-element.elementor-element-44fb6c6>.elementor-container {
  max-width: 663px;
  min-height: 356px
}

.elementor-2 .elementor-element.elementor-element-44fb6c6>.elementor-container:after {
  content: "";
  min-height: inherit
}

.elementor-2 .elementor-element.elementor-element-44fb6c6:not(.elementor-motion-effects-element-type-background), .elementor-2 .elementor-element.elementor-element-44fb6c6>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-color: #ececec
}

.elementor-2 .elementor-element.elementor-element-44fb6c6 {
  transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-2 .elementor-element.elementor-element-44fb6c6>.elementor-background-overlay {
  transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-2 .elementor-element.elementor-element-55b0d8f>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 30px
}

.elementor-2 .elementor-element.elementor-element-55b0d8f .elementor-element-populated a {
  color: #fbd009
}

.elementor-2 .elementor-element.elementor-element-008d5e3 .elementor-text-editor {
  text-align: center
}

.elementor-2 .elementor-element.elementor-element-008d5e3 {
  color: #4d4d4d;
  font-size: 17px
}

.elementor-2 .elementor-element.elementor-element-1bac302 .jet-ajax-search__form {
  background-color: rgba(0, 0, 0, .12);
  box-shadow: 0px 10px 21px 0px rgba(0, 0, 0, .19) inset;
  padding: 5px;
  border-radius: 4px
}

.elementor-2 .elementor-element.elementor-element-1bac302 .jet-ajax-search__form--focus {
  background-color: #e1e1e1;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, .5)
}

.elementor-2 .elementor-element.elementor-element-1bac302 .jet-ajax-search__field {
  font-family: "Montserrat", Sans-serif;
  font-size: 15px;
  font-style: italic;
  color: #242424;
  background-color: rgba(2, 1, 1, 0);
  border-color: rgba(119, 202, 56, 0);
  padding: 20px 20px 20px 40px;
  border-radius: 26px
}

.elementor-2 .elementor-element.elementor-element-1bac302 .jet-ajax-search__field::placeholder {
  font-family: "Montserrat", Sans-serif;
  font-size: 15px
}

.elementor-2 .elementor-element.elementor-element-1bac302 .jet-ajax-search__results-area {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5)
}

.elementor-2 .elementor-element.elementor-element-1bac302 .jet-ajax-search__item-title {
  color: #fbd009;
  font-family: "Montserrat", Sans-serif;
  font-size: 16px;
  font-weight: 400
}

.elementor-2 .elementor-element.elementor-element-1bac302 .jet-ajax-search__item-content {
  color: #fbd009;
  font-family: "Montserrat", Sans-serif;
  font-size: 16px;
  font-weight: 400
}

.elementor-2 .elementor-element.elementor-element-1bac302 .jet-ajax-search__item-link {
  padding: 10px;
  text-align: left
}

.elementor-2 .elementor-element.elementor-element-1bac302 .jet-ajax-search__results-item:not(:first-child) {
  border-top-style: solid;
  border-top-width: 1px;
  border-color: #4d4d4d
}

.elementor-2 .elementor-element.elementor-element-1bac302 .jet-ajax-search__message {
  font-family: "Montserrat", Sans-serif;
  font-size: 15px;
  color: #333;
  text-align: left;
  padding: 15px
}

.elementor-2 .elementor-element.elementor-element-1bac302 .jet-ajax-search__spinner {
  color: #5E216D
}

@media(min-width:1025px) {
  .elementor-2 .elementor-element.elementor-element-2297fdd:not(.elementor-motion-effects-element-type-background), .elementor-2 .elementor-element.elementor-element-2297fdd>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-attachment: fixed
  }
}

@media(max-width:1024px) {
  .elementor-2 .elementor-element.elementor-element-c09f4f6 .ae-post-list-item {
    width: calc(100%/1)
  }
}

@media(max-width:767px) {
  .elementor-2 .elementor-element.elementor-element-c09f4f6 .ae-post-list-item {
    width: calc(100%/1)
  }
}
